# Auto detect text files and perform LF normalization
*        text=auto

# Always perform LF normalization on these files
*.cpp    text
*.c      text
*.draw   text

# Make sure that these windows files always have CRLF line endings in checkout
*.sln             text eol=crlf
*.vcxproj         text eol=crlf
*.vcxproj.filters text eol=crlf

# Never perform LF normalization on these files
*.png    binary
*.jpg    binary
